<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;"> 
    
<h1>Data Analysis with Pandas</h1>
    
</div>

The `pandas` module provides high-performance, easy-to-use data structures and data analysis tools. The main data structure is the `DataFrame`, which you can think of as an in-memory 2D table (like a spreadsheet, with column names and row labels). Many features from Excel are available programmatically, such as creating pivot tables, computing columns based on other columns, plotting graphs, etc. You can also group rows by column value, or join tables much like in SQL.

## Table of Contents

**Section 1: Series and Dataframes**  

**[Series](#Series)**
 - [Creating a Series](#Creating-a-Series)
 - [Selecting and filtering in Series](#Selecting-and-filtering-in-Series)
 - [Operations on Series](#Operations-on-Series)
 - [Plotting a Series](#Plotting-a-Series)

**[DataFrames](#DataFrames)**
 - [Creating a DataFrame](#Creating-a-DataFrame)
 - [Selecting and filtering in DataFrames](#Selecting-and-Filtering-in-DataFrames)
 - [Transposing](#Transposing)
 - [Methods](#Methods)
 - [Adding and removing columns](#Adding-and-removing-columns)
 - [Assigning new columns](#Assigning-new-columns)
 - [Evaluating an expression](#Evaluating-an-expression)
 - [Querying a DataFrame](#Querying-a-DataFrame)
 - [Sorting a DataFrame](#Sorting-a-DataFrame)
 - [Operations on DataFrame](#Operations-on-DataFrame)
 - [Automatic alignment for DataFrames](#Automatic-alignment-for-DataFrames)
 - [Plotting a DataFrame](#Plotting-a-DataFrame)
 - [Combining DataFrames](#Combining-DataFrames)
 - [SQL like joins](#SQL-like-joins)
 - [Concatenation](#Concatenation)

**Section 2: Working with real Data**

 - [Loading data from CSV](#Loading-data-from-CSV)
 - [Handling missing data](#Handling-missing-data)
 - [Exploring your data](#Exploring-your-data)
 - [Overview functions](#Overview-functions)
 - [Aggregating with groupby](#Aggregating-with-groupby)
 - [Saving](#Saving-to-files)
 - [Plotting Data](#Plotting-data)
 
[Exercises](#Exercises)
 - [Possible solutions](#Possible-solutions)

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Setup</h2>

</div>

In [ ]:
# First set this so that jupyter notebook prints all output from a cell, 
# not just the last command
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Let's also suppress warnings, as they can get annoying sometimes
import warnings
warnings.filterwarnings("ignore")

<h3>Importing Packages</h3>

Let's import `pandas` with the usual convention as `pd`.

In [ ]:
import pandas as pd

Now we will import some additional python packages.

In [ ]:
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import linregress

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challange 1:</h3>

**Did you see a "ModuleNotFoundError"?**

Packages must be installed in the same environment where you are running this notebook before you can import them.

You can install packages using `conda` or `pip`

```bash
# Option 1: Using conda
conda install -c conda-forge packagenamehere

# Option 2: Using the default python package installer
pip install packagenamehere
```  

These commands need to run in the bash shell, to run bash comands from a Jupyter notebook you can add a `!` to the begining of the command.
    
</div>

In [ ]:
# Let's call the bash shell to install a missing package
# Uncomment lines to run them.
#!pip install packagenamehere

<h3>Checking your Path</h3>

We can check the current working directory for this notebook using the 'os' module.

In [ ]:
# Get working dir
os.getcwd()

Next make sure you are in the `python-novice-dataframes/workshop` directory.

In [ ]:
# If you are in "python-novice-dataframes" you can navigate
# into the "workshop" dir with this command.
#os.chdir("./workshop")

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Series</h2>

</div>

A `Series` is a one-dimensional array-like object containing a sequence of values and an associated array of row labels, called its *index*.

You can recognize that your object is a Series because there will be has two attributes printed out at the bottom: the Name (if indeed there is a name) and dtype (type).


<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Creating a Series</h2>

</div>
The simplest `Series` is formed from only an array of data.

In [ ]:
obj = pd.Series([2,-1,3,5])
obj

The string representation of a `Series` displayed interactively shows the index on the
left and the values on the right.
You can get the array representation and index object of the `Series` via
its values and index attributes, respectively.

In [ ]:
obj.values

In [ ]:
obj.index # Like range(4)

In [ ]:
list(obj.index) # if you want the index as a list of values

We may want to create a `Series` with an index identifying each data point with a label.

In [ ]:
obj2 = pd.Series([2,-1,3,5], index=['a', 'b', 'c', 'd'])
obj2

In [ ]:
list(obj2.index)

A `Series` can have a `name`.

In [ ]:
obj_withName = pd.Series([83, 68], index=["bob", "alice"], name="weights")
obj_withName

You can also create a `Series` object from a `dict`. The keys will be used as index labels.

In [ ]:
weightdata = {"john": 86, "michael": 68, "alice": 68, "bob": 83}
obj3 = pd.Series(weightdata)
obj3


<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Selecting and filtering in Series</h2>

</div>

Compared with `NumPy` arrays, you can use labels in the index when selecting single values or a set of values.

In [ ]:
obj2

In [ ]:
obj2['a']

In [ ]:
obj2[['b','c','d']] 
# Here ['b', 'c', 'd'] is interpreted as a list of indices, even though it contains strings instead of integers.

You can still access the items by integer location, like in a regular array. By default, the rank of the item in the `Series` starts at **0**.

In [ ]:
obj2[0]

In [ ]:
obj2[[1,3]]

In [ ]:
obj2[obj2 < 0]

Slicing with labels behaves differently than normal Python slicing in that the endpoint is inclusive.

In [ ]:
obj2['b':'c']

To make it clear when you are accessing by label or by integer location, it is recommended to always use the `loc` attribute when accessing by label, and the `iloc` attribute when accessing by integer location.

In [ ]:
obj2.loc["a"]

In [ ]:
obj2.iloc[0]

Slicing a `Series` also slices the index labels.

In [ ]:
obj2.iloc[1:3]

This can lead to unexpected results when using the default numeric labels, so be careful:

In [ ]:
surprise = pd.Series([1000, 1001, 1002, 1003])
surprise

In [ ]:
surprise_slice = surprise[2:]
surprise_slice

Oh look! The first element has index label **2**. The element with index label 0 is absent from the slice.

But remember that you can access elements by integer location using the iloc attribute. This illustrates another reason why it's always better to use loc and iloc to access Series objects.

In [ ]:
surprise_slice.iloc[0]


<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Operations on Series</h2>

</div>

`Series` objects behave much like a one-dimensional `ndarray`, and you can often pass them as parameters to `NumPy` functions.

In [ ]:
# We have already imported the numpy library as "np"
#import numpy as np
np.exp(obj2)

Arithmetic operations on `Series` are also possible, and they apply *elementwise*, just like for `ndarray`s.

In [ ]:
obj2 + [1000,2000,3000,4000]

Similar to `NumPy`, if you add a single number to a `Series`, that number is added to all items in the `Series`. This is called *broadcasting*.

In [ ]:
obj2 + 1000

The same is true for all binary operations and even conditional operations.


<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Plotting a Series</h2>

</div>


`pandas` makes it easy to plot `Series` data using `matplotlib`. Just import `matplotlib` and call the `plot()` method:

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
plt.style.use("ggplot")
###
temperatures = [4.4,5.1,6.1,6.2,6.1,6.1,5.7,5.2,4.7,4.1,3.9,3.5]
s7 = pd.Series(temperatures, name="Temperature")
s7.plot()
plt.show();

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h1>DataFrames</h1>
</div>

A `DataFrame` represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). You can see `DataFrame`s as `dict` of `Series`.

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Creating a DataFrame</h2>

</div>

<h3>Building DataFrames from Dictionaries</h3>

There are many ways to construct a `DataFrame`, though one of the most common is from a `dict` of equal-length lists or `Numpy` arrays.

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

A python `dict` consists of `key:value` pairs. 
Let's inspect our dictionary:

In [ ]:
data['state']

In [ ]:
# Now we will convert the dict into a pandas dataframe
df = pd.DataFrame(data)
df

In this case we can see that the dictionary keys have been converted to column names. 

We can access and edit these using the `.columns` attribute for our dataframe.

In [ ]:
df.columns

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challange 2:</h3>

Pass a list of strings to `df.columns` to changes the names.
</div>

In [ ]:
# Your solution here!

# View the dataframe
df

<h3>Other ways to create a DataFrame</h3>

You can also create a `DataFrame` by passing a `dict` of `Series` objects.

In [ ]:
people_dict = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),
}
people = pd.DataFrame(people_dict)
people

A few things to note:
* The `Series` were automatically aligned based on their index.
* Missing values are represented as `NaN`.
* `Series` names are ignored (the name `"year"` was dropped).

If you pass a list of columns and/or index row labels to the `DataFrame` constructor, it will guarantee that these columns and/or rows will exist, in that order, and no other column/row will exist.

In [ ]:
df2 = pd.DataFrame(
        people_dict,
        columns=["birthyear", "weight", "height"],
        index=["bob", "alice", "eugene"]
     )
df2

Another convenient way to create a `DataFrame` is to pass all the values to the constructor as an `ndarray`, or a list of lists, and specify the column names and row index labels separately:

In [ ]:
values = [
            [1985, np.nan, "Biking",   68],
            [1984, 3,      "Dancing",  83],
            [1992, 0,      np.nan,    112]
         ]
df3 = pd.DataFrame(
        values,
        columns=["birthyear", "children", "hobby", "weight"],
        index=["alice", "bob", "charles"]
     )
df3

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challenge:</h3>

Create the following DataFrame (But use `name` as the index):

| name | age | state | num_children | num_pets |
|----|---|----|---|----|
| john  | 23 | iowa | 2 | 0 |
| mary  | 78 | dc | 2 | 4 |
| peter  | 22 | california | 0 | 0 |
| jeff  | 19 | texas | 1 | 5 |
| bill  | 45 | washington | 2 | 0 |
| lisa  | 33 | dc | 1 | 0 |

Dataframe should be called `employees_df`

</div>

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Selecting and Filtering in DataFrames</h2>

</div>

Let's go back to the `people` dataframe:

In [ ]:
people

We can get the row and column names using the `.index` and `.columns` attributes.

In [ ]:
# Column labels
people.columns

In [ ]:
# Row labels
people.index

<h3>Accessing Columns</h3>

You can access columns pretty much as you would expect. They are returned as `Series` objects.

In [ ]:
people["birthyear"]

You can also get multiple columns at once.

In [ ]:
people[["birthyear", "hobby"]]

<h3>Accessing rows with loc and iloc</h3>

The `loc` attribute lets you access rows instead of columns. The result is a `Series` object in which the `DataFrame`'s column names are mapped to row index labels.

In [ ]:
people.loc["charles"]

You can also access rows by integer location using the `iloc` attribute.

In [ ]:
people.iloc[2]

You can also get a slice of rows, and this returns a `DataFrame` object.

In [ ]:
people.iloc[1:3]

<h3>Filtering</h3>

Pandas Series objects act like vectors in R in that you can ask logical questions of them.

You can pass a boolean array to get the matching rows.

In [ ]:
people[np.array([True, False, True])]

This is most useful when combined with boolean expressions.

In [ ]:
people[people["birthyear"] < 1990]

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Don’t forget to .copy()</h2>

</div>

This is because in python when you define a new object to be an existing object (`pandas_df_new = pandas_df`), you are actually creating a new “pointer” to the same underlying object being pointed to by the original name `pandas_df`. `pandas_df_new` becomes like an “alias” for `pandas_df`, rather than an entirely new object.

To avoid this issue, when defining a new DataFrame based on an existing DataFrame, you need to explicitly create a new object using the `copy()` method:

In [ ]:
# redefine the original pandas DataFrame:
pandas_df = pd.DataFrame({'a': [1,2,3,4], 
                          'b': [5,6,7,8]})
pandas_df

In [ ]:
# define pandas_df_new as a "copy" of pandas_df:
pandas_df_new = pandas_df.copy()
pandas_df_new['c'] = [9,10,11,12]
pandas_df_new

In [ ]:
# check that pandas_df did not change this time
pandas_df

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Transposing</h2>

</div>

You can swap columns and indices using the `T` attribute.

In [ ]:
people.T

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Methods</h2>

</div>

Extracting attributes is not the only use of the object.xyz dot syntax. Similar syntax also lets you apply object-specific functions to the object using the object.fun() dot syntax.

For example, we can apply the mean() and sum() DataFrame methods to a DataFrame object to compute the mean and sum of each column in the data frame:

In [ ]:
num_df = pd.DataFrame({'a': [1,2,3,4], 
                       'b': [5,6,7,8]})

num_df

In [ ]:
#Calculate the mean per column
num_df.mean()

Now let's try calling the `.mean()` method on the `people` dataframe.

In [ ]:
#people.mean()

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Adding and removing columns</h2>

</div>

You can generally treat `DataFrame` objects like dictionaries of `Series`, so the following work fine.

In [ ]:
people

In [ ]:
people["age"] = 2024 - people["birthyear"]  # adds a new column "age"
people["over 30"] = people["age"] > 30      # adds another column "over 30"
birthyears = people.pop("birthyear")
del people["children"]

people

In [ ]:
birthyears

When you add a new colum, it must have the same number of rows. Missing rows are filled with NaN, and extra rows are ignored.

In [ ]:
people["pets"] = pd.Series({"bob": 0, "charles": 5, "eugene":1})  # alice is missing, eugene is ignored
people

When adding a new column, it is added at the end (on the right) by default. You can also insert a column anywhere else using the `insert()` method.

In [ ]:
people.insert(1, "height", [172, 181, 185])
people

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Assigning new columns</h2>

</div>

You can also create new columns by calling the `assign()` method. Note that this returns a new `DataFrame` object, the original is not modified.

In [ ]:
people.assign(
    body_mass_index = people["weight"] / (people["height"] / 100) ** 2,
    has_pets = people["pets"] > 0
)

Note that you cannot access columns created within the same assignment.

In [ ]:
try:
    people.assign(
        body_mass_index = people["weight"] / (people["height"] / 100) ** 2,
        overweight = people["body_mass_index"] > 25
    )
except KeyError as e:
    print("Key error:", e)

The solution is to split this assignment in two consecutive assignments.

In [ ]:
df5 = people.assign(body_mass_index = people["weight"] / (people["height"] / 100) ** 2)
df5.assign(overweight = df5["body_mass_index"] > 25)

Having to create a temporary variable **df5** is not very convenient. You may want to just chain the assigment calls, but it does not work because the `people` object is not actually modified by the first assignment.

In [ ]:
try:
    (people
         .assign(body_mass_index = people["weight"] / (people["height"] / 100) ** 2)
         .assign(overweight = people["body_mass_index"] > 25)
    )
except KeyError as e:
    print("Key error:", e)

But fear not, there is a simple solution. You can pass a function to the `assign()` method (typically a `lambda` function), and this function will be called with the `DataFrame` as a parameter.

In [ ]:
(people
     .assign(body_mass_index = lambda df: df["weight"] / (df["height"] / 100) ** 2)
     .assign(overweight = lambda df: df["body_mass_index"] > 25)
)

Problem solved!

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Evaluating an expression</h2>

</div>

A great feature supported by `pandas` is expression evaluation. This relies on the `numexpr` library which must be installed.

In [ ]:
people.eval("weight / (height/100) ** 2 > 25")

Assignment expressions are also supported. Let's set `inplace=True` to directly modify the `DataFrame` rather than getting a modified copy:

In [ ]:
# First let's remind ourselves what columns we have
people

In [ ]:
# Now evaluate an expression and assign it to a new column called "body_mass_index"
people.eval("body_mass_index = weight / (height/100) ** 2", inplace=True)

#View the dataframe
people

You can use a local or global variable in an expression by prefixing it with `'@'`.

In [ ]:
overweight_threshold = 30
people.eval("overweight = body_mass_index > @overweight_threshold", inplace=True)
people

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Querying a DataFrame</h2>

</div>

The `query()` method lets you filter a `DataFrame` based on a query expression.

In [ ]:
people.query("age > 30 and pets == 0")

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challenge:</h3>

Create a Series using the following number: `3.14`, `2.718`, `1.618` with the following labels "`pi`", "`euler's number`", "`golden ratio`". Then filter values that are only greater than 2.

</div>

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Sorting a DataFrame</h2>

</div>

You can sort a `DataFrame` by calling its `sort_index` method. By default it sorts the rows by their index label, in ascending order, but let's reverse the order.

In [ ]:
people.sort_index(ascending=False)

Note that `sort_index` returned a sorted *copy* of the `DataFrame`. To modify `people` directly, we can set the `inplace` argument to `True`. Also, we can sort the columns instead of the rows by setting `axis=1`.

In [ ]:
people.sort_index(axis=1, inplace=True)
people

To sort the `DataFrame` by the values instead of the labels, we can use `sort_values` and specify the column to sort by.

In [ ]:
people.sort_values(by="age", inplace=True)
people

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Operations on DataFrame</h2>

</div> 

Although `DataFrame`s do not try to mimick `NumPy` arrays, there are a few similarities. Let's create a `DataFrame` to demonstrate this:

In [ ]:
grades_array = np.array([[8,8,9],[10,9,9],[4, 8, 2], [9, 10, 10]])
grades = pd.DataFrame(grades_array, columns=["sep", "oct", "nov"], index=["alice","bob","charles","darwin"])
grades

You can apply `NumPy` mathematical functions on a `DataFrame`. The function is applied to all values.

In [ ]:
np.sqrt(grades)

Similarly, adding a single value to a `DataFrame` will add that value to all elements in the `DataFrame`. This is called *broadcasting*.

In [ ]:
grades + 1

Of course, the same is true for all other binary operations, including arithmetic (`*`,`/`,`**`...) and conditional (`>`, `==`...) operations.

In [ ]:
grades >= 5

Aggregation operations, such as computing the `max`, the `sum` or the `mean` of a `DataFrame`, apply to each column, and you get back a `Series` object.

In [ ]:
grades.mean()

The `all` method is also an aggregation operation: it checks whether all values are `True` or not. Let's see during which months all students got a grade greater than `5`.

In [ ]:
(grades > 5).all()

Most of these functions take an optional `axis` parameter which lets you specify along which axis of the `DataFrame` you want the operation executed. The default is `axis=0`, meaning that the operation is executed vertically (on each column). You can set `axis=1` to execute the operation horizontally (on each row). For example, let's find out which students had all grades greater than `5`:

In [ ]:
(grades > 5).all(axis = 1)

The `any` method returns `True` if any value is True. Let's see who got at least one grade 10:

In [ ]:
(grades == 10).any(axis = 1)

If you add a `Series` object to a `DataFrame` (or execute any other binary operation), `pandas` attempts to broadcast the operation to all *rows* in the `DataFrame`. This only works if the `Series` has the same size as the `DataFrame`s rows. For example, let's substract the `mean` of the `DataFrame` (a `Series` object) from the `DataFrame`:

In [ ]:
grades - grades.mean()  # equivalent to: grades - [7.75, 8.75, 7.50]

We substracted `7.75` from all September grades, `8.75` from October grades and `7.50` from November grades. It is equivalent to substracting this `DataFrame`.

In [ ]:
pd.DataFrame([[7.75, 8.75, 7.50]]*4, index=grades.index, columns=grades.columns)

If you want to substract the global mean from every grade, here is one way to do it:

In [ ]:
grades - grades.values.mean() # substracts the global mean (8.00) from all grades

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Automatic alignment for DataFrames</h2>

</div>
Similar to `Series`, when operating on multiple `DataFrame`s, `pandas` automatically aligns them by row index label, but also by column names. Let's create a `DataFrame` with bonus points for each person from October to December:

In [ ]:
bonus_array = np.array([[0,np.nan,2],[np.nan,1,0],[0, 1, 0], [3, 3, 0]])
bonus_points = pd.DataFrame(bonus_array, columns=["oct", "nov", "dec"], index=["bob","colin", "darwin", "charles"])
bonus_points

In [ ]:
grades + bonus_points

Looks like the addition worked in some cases but way too many elements are now empty. That's because when aligning the `DataFrame`s, some columns and rows were only present on one side, and thus they were considered missing on the other side (`NaN`). Then adding `NaN` to a number results in `NaN`, hence the result.

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Handling missing data</h2>

</div>


Dealing with missing data is a frequent task when working with real life data. `pandas` offers a few tools to handle missing data.

The `isnull` and `notnull` functions in `pandas` can be used to detect missing data.

In [ ]:
pd.isnull(grades)

In [ ]:
pd.notnull(grades)

We may want that, for instance, missing data should result in a zero, instead of `NaN`. We can replace all `NaN` values by a any value using the `fillna()` method.

In [ ]:
(grades + bonus_points).fillna(0)

It's a bit unfair that we're setting grades to zero in September, though. Perhaps we should decide that missing grades are missing grades, but missing bonus points should be replaced by zeros.

In [ ]:
fixed_bonus_points = bonus_points.fillna(0)
fixed_bonus_points.insert(0, "sep", 0)
fixed_bonus_points.loc["alice"] = 0
grades + fixed_bonus_points

That's much better: although we made up some data, we have not been too unfair.

Another way to handle missing data is to interpolate. Let's look at the `bonus_points` `DataFrame` again:

In [ ]:
bonus_points

Now let's call the `interpolate` method. By default, it interpolates vertically (`axis=0`), so let's tell it to interpolate horizontally (`axis=1`).

In [ ]:
bonus_points.interpolate(axis=1)

Bob had 0 bonus points in October, and 2 in December. When we interpolate for November, we get the mean: 1 bonus point. Colin had 1 bonus point in November, but we do not know how many bonus points he had in September, so we cannot interpolate, this is why there is still a missing value in October after interpolation. To fix this, we can set the September bonus points to 0 before interpolation.

In [ ]:
better_bonus_points = bonus_points.copy()
better_bonus_points.insert(0, "sep", 0)
better_bonus_points.loc["alice"] = 0
better_bonus_points = better_bonus_points.interpolate(axis=1)
better_bonus_points

Great, now we have reasonable bonus points everywhere. Let's find out the final grades:

In [ ]:
grades + better_bonus_points

It is slightly annoying that the September column ends up on the right. This is because the `DataFrame`s we are adding do not have the exact same columns (the `grades` `DataFrame` is missing the `"dec"` column), so to make things predictable, `pandas` orders the final columns alphabetically. To fix this, we can simply add the missing column before adding.

In [ ]:
grades["dec"] = np.nan
final_grades = grades + better_bonus_points
final_grades

There's not much we can do about December and Colin: it's bad enough that we are making up bonus points, but we can't reasonably make up grades (well I guess some teachers probably do). So let's call the `dropna()` method to get rid of rows that are full of `NaN`s:

In [ ]:
final_grades_clean = final_grades.dropna(how="all")
final_grades_clean

Now let's remove columns that are full of `NaN`s by setting the `axis` argument to `1`:

In [ ]:
final_grades_clean = final_grades_clean.dropna(axis=1, how="all")
final_grades_clean

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Aggregating with `groupby`</h2>

</div>
Similar to the SQL language, `pandas` allows grouping your data into groups to run calculations over each group.

First, let's add some extra data about each person so we can group them, and let's go back to the `final_grades` `DataFrame` so we can see how `NaN` values are handled:

In [ ]:
final_grades["hobby"] = ["Biking", "Dancing", np.nan, "Dancing", "Biking"]
final_grades

Now let's group data in this `DataFrame` by hobby:

In [ ]:
grouped_grades = final_grades.groupby("hobby")
for key, item in grouped_grades:
    print(grouped_grades.get_group(key), "\n")

We are ready to compute the average grade per hobby.

In [ ]:
grouped_grades.mean()

That was easy! Note that the `NaN` values have simply been skipped when computing the means.

`pandas` can save `DataFrame`s to various backends, including file formats such as CSV, Excel, JSON, HTML and HDF5, or to a SQL database. Let's create a `DataFrame` to demonstrate this:

In [ ]:
my_df = pd.DataFrame(
    [["Biking", 68.5, 1985, np.nan], ["Dancing", 83.1, 1984, 3]], 
    columns=["hobby","weight","birthyear","children"],
    index=["alice", "bob"]
)
my_df

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Plotting a DataFrame</h2>
    
</div>

Just like for `Series`, `pandas` makes it easy to draw nice graphs based on a `DataFrame`.

For example, it is easy to create a bar plot from a `DataFrame`'s data by calling its `plot` method.

In [ ]:
people.plot(kind = "bar", y = ["body_mass_index"])
plt.show();

You can pass extra arguments supported by matplotlib's functions. For example, we can create scatterplot and pass it a list of sizes using the `s` argument of matplotlib's `scatter()` function.

In [ ]:
people.plot(kind = "scatter", x = "height", y = "weight", s=[40, 120, 200])
plt.show();

Again, there are way too many options to list here: the best option is to scroll through the [Visualization](http://pandas.pydata.org/pandas-docs/stable/visualization.html) page in `pandas` documentation and find the plot you are interested in.

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Combining DataFrames</h2>
</div>

### SQL-like joins
One powerful feature of `pandas` is it's ability to perform SQL-like joins on `DataFrame`s. Various types of joins are supported: inner joins, left/right outer joins and full joins. To illustrate this, let's start by creating a couple simple `DataFrame`s:

In [ ]:
city_loc = pd.DataFrame(
    [
        ["CA", "San Francisco", 37.781334, -122.416728],
        ["NY", "New York", 40.705649, -74.008344],
        ["FL", "Miami", 25.791100, -80.320733],
        ["OH", "Cleveland", 41.473508, -81.739791],
        ["UT", "Salt Lake City", 40.755851, -111.896657]
    ], columns=["state", "city", "lat", "lng"])
city_loc

In [ ]:
city_pop = pd.DataFrame(
    [
        [808976, "San Francisco", "California"],
        [8363710, "New York", "New-York"],
        [413201, "Miami", "Florida"],
        [2242193, "Houston", "Texas"]
    ], index=[3,4,5,6], columns=["population", "city", "state"])
city_pop

Now let's join these `DataFrame`s using the `merge()` function:

In [ ]:
pd.merge(left=city_loc, right=city_pop, on="city")

Note that both `DataFrame`s have a column named `state`, so in the result they got renamed to `state_x` and `state_y`.

Also, note that Cleveland, Salt Lake City and Houston were dropped because they don't exist in *both* `DataFrame`s. This is the equivalent of a SQL `INNER JOIN`. If you want a `FULL OUTER JOIN`, where no city gets dropped and `NaN` values are added, you must specify `how="outer"`.

In [ ]:
all_cities = pd.merge(left=city_loc, right=city_pop, on="city", how="outer")
all_cities

Of course `LEFT OUTER JOIN` is also available by setting `how="left"`: only the cities present in the left `DataFrame` end up in the result. Similarly, with `how="right"` only cities in the right `DataFrame` appear in the result. For example:

In [ ]:
pd.merge(left=city_loc, right=city_pop, on="city", how="right")

If the key to join on is actually in one (or both) `DataFrame`'s index, you must use `left_index=True` and/or `right_index=True`. If the key column names differ, you must use `left_on` and `right_on`. For example:

In [ ]:
city_pop2 = city_pop.copy()
city_pop2.columns = ["population", "name", "state"]
pd.merge(left=city_loc, right=city_pop2, left_on="city", right_on="name")

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Concatenation</h2>

</div>
Rather than joining `DataFrame`s, we may just want to concatenate them using `concat()` method.

In [ ]:
result_concat = pd.concat([city_loc, city_pop], sort = False)
result_concat

Note that this operation aligned the data horizontally (by columns) but not vertically (by rows). In this example, we end up with multiple rows having the same index (eg. 3). `pandas` handles this rather gracefully.

In [ ]:
result_concat.loc[3]

Or you can tell `pandas` to just ignore the index.

In [ ]:
pd.concat([city_loc, city_pop], ignore_index=True, sort = False)

Notice that when a column does not exist in a `DataFrame`, it acts as if it was filled with `NaN` values. If we set `join="inner"`, then only columns that exist in *both* `DataFrame`s are returned.

In [ ]:
pd.concat([city_loc, city_pop], join="inner")

You can concatenate `DataFrame`s horizontally instead of vertically by setting `axis=1`.

In [ ]:
pd.concat([city_loc, city_pop], axis=1)

In this case it really does not make much sense because the indices do not align well (eg. Cleveland and San Francisco end up on the same row, because they shared the index label `3`). So let's reindex the `DataFrame`s by city name before concatenating:

In [ ]:
pd.concat([city_loc.set_index("city"), city_pop.set_index("city")], axis=1, sort = False)

This looks a lot like a `FULL OUTER JOIN`, except that the `state` columns were not renamed to `state_x` and `state_y`, and the `city` column is now the index.

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challenge:</h3>

Add another person as a new row to the previous DataFrame `employees_df` with the following values (**HINT**: use `pd.concat`):

name: `mike`, age: `0`, state: `new york`, num_children: `1`, num_pets: `0`.

Since this new person has a child, his age cannot be zero. Replace it with the median age of all other people in the DataFrame.
</div>

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Section 2: Exploring a Real Dataset</h2>
    
</div>

In this section we will work with the Breast Cancer Wisconsin (Diagnostic) dataset from the [UCI data repository](https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic). We are using a copy of the dataset with some added error that we will look for.

Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass.  They describe characteristics of the cell nuclei present in the image. A few of the images can be found at http://www.cs.wisc.edu/~street/images/

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Loading data from CSV</h2>

</div>

Pandas allows us to read in tables from file types such as csv, json, html and excel. 

Here we will load the "Wisconsin Diagnostic Breast Cancer (WDBC)" dataset from a CSV file.

In [ ]:
# First let's check that we are in the "workshop" dir.
os.getcwd()
# Now look inside the "data" dir for the file "wdbc.data.csv"
os.listdir('data')

Now we can load the csv into a new DataFrame.

In [ ]:
wdbc_df = pd.read_csv("data/wdbc.data.csv")
wdbc_df.head(5)

Pandas reads the first line as a header by default. Let's try again with `header=None`.

In [ ]:
wdbc_df = pd.read_csv("data/wdbc.data.csv", header=None)
wdbc_df.head(5)

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challenge:</h3>

Using the list of column names below, add column labels to the dataframe.
    
Hint: View the columns attribute.
    
</div>

In [ ]:
# Column labels
col_names = ['ID', 'Diagnosis', 'radius1', 'texture1', 'perimeter1', 'area1', 'smoothness1', 'compactness1', 'concavity1', 'concave_points1', 'symmetry1', 'fractal_dimension1', 'radius2', 'texture2', 'perimeter2', 'area2', 'smoothness2', 'compactness2', 'concavity2', 'concave_points2', 'symmetry2', 'fractal_dimension2', 'radius3', 'texture3', 'perimeter3', 'area3', 'smoothness3', 'compactness3', 'concavity3', 'concave_points3', 'symmetry3', 'fractal_dimension3']

In [ ]:
# Add column labels
# Your solution here

# View dataframe
wdbc_df.head(5)

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Exploring your data</h2>

</div>

<div style="color: rgb(0,0,0); background: #0096FF; border: solid 1px rgb(0,0,0); padding: 10px;">

<h2>Overview functions</h2>

</div>

When dealing with large `DataFrames`, it is useful to get a quick overview of its content. `pandas` offers a few functions for this.

The shape attribute will give use the dimensions of the dataframe.

In [ ]:
wdbc_df.shape

The `head()` method returns the top 5 rows.

In [ ]:
wdbc_df.head()

Of course there's also a `tail()` function to view the bottom 5 rows. You can pass the number of rows you want.

In [ ]:
wdbc_df.tail(n=2)

The `info()` method prints out a summary of each columns contents.

In [ ]:
wdbc_df.info()

Finally, the `describe()` method gives a nice overview of the main aggregated values over each column:
* `count`: number of non-null (not NaN) values
* `mean`: mean of non-null values
* `std`: [standard deviation](https://en.wikipedia.org/wiki/Standard_deviation) of non-null values
* `min`: minimum of non-null values
* `25%`, `50%`, `75%`: 25th, 50th and 75th [percentile](https://en.wikipedia.org/wiki/Percentile) of non-null values
* `max`: maximum of non-null values

In [ ]:
wdbc_df.describe()

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Data Cleaning</h2>
    
</div>

Find missing values with `.isnull()`

In [ ]:
wdbc_df.isnull()

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challenge:</h3>

This is difficult to read, let's try chaining the previous command together with `.sum()`

Hint: Try passing the arg `axis=1` to the `sum` method. How does this change the result?
    
</div>

In [ ]:
# Chain with the .sum() method

**Remove rows with missing values using `.dropna()`**

`.dropna()` returns a new dataframe without editing the original.

To edit the original use `wdbc_df.dropna(inplace = True)`

In [ ]:
new_wdbc_df = wdbc_df.dropna()

wdbc_df.shape
new_wdbc_df.shape

**Replace Empty Values wit `fillna()`**

Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The `fillna()` method allows us to replace empty cells with a value:

In [ ]:
nan_to_zero = wdbc_df.fillna(0)
wdbc_df.head(3)
nan_to_zero.head(3)

**Replace Only For Specified Columns**

The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame.

Here we will replace null values in the "texture1" column with the mean value for that column.

In [ ]:
x = wdbc_df["texture1"].mean()

wdbc_df["texture1"].fillna(x, inplace = True)

wdbc_df.head(3)

Find duplicate records

In [ ]:
print(new_wdbc_df.duplicated())

Drop duplicate records

In [ ]:
new_wdbc_df.shape

new_wdbc_df.drop_duplicates(inplace = True)

new_wdbc_df.shape

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Saving to files</h2>
    
</div>


Let's save our cleaned dataframe to CSV:

In [ ]:
new_wdbc_df.to_csv("data/cleaned_wdbc.csv")

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Query by group</h2>
    
</div>

<div style="color: rgb(27,94,32); background: rgb(200,230,201); border: solid 1px rgb(129,199,132); padding: 10px;">

<h3>Challenge:</h3>

Using `.groupby` find the mean radius of tumors in the benign and malignant groups.
    
</div>

In [ ]:
# Your solution here

<div style="background: rgb(255,165,0); border: solid 1px rgb(129,199,132); padding: 10px;">    

<h2>Plotting data</h2>
    
</div>

Here is an example scatterplot comparing two variables coloured by category.

See if you can find a highly correlated pair of variables.

In [ ]:

var1 = 'radius1'
var2 = 'texture1'

# Calculate linear regression
slope, intercept, r_value, p_value, std_err = linregress(new_wdbc_df[var1], new_wdbc_df[var2])

# Calculate R-squared
r_squared = r_value**2

# Create scatterplot
plt.figure(figsize=(8, 6))
sns.scatterplot(data=new_wdbc_df, x=var1, y=var2, hue='Diagnosis', palette='Set1')

# Add R-squared to the plot
plt.text(
    x=new_wdbc_df[var1].min(), 
    y=new_wdbc_df[var2].max(), 
    s=f"$R^2$: {r_squared:.2f}", 
    fontsize=12,
    verticalalignment='top',
    bbox=dict(facecolor='white', alpha=0.5)
)

# Plot title and labels
plt.title('Scatterplot of Radius vs Texture by Diagnosis with R-squared')
plt.xlabel(var1)
plt.ylabel(var2)

plt.show()

Here is an example hitogram for a single variable grouped by category

In [ ]:
x_var = 'radius1'

# Plot histograms by category
plt.figure(figsize=(8, 6))
sns.histplot(data=new_wdbc_df, x=x_var, hue='Diagnosis', multiple='stack', kde=True, palette='Set1', bins=10)

# Plot title and labels
plt.title(f"Histogram of {x_var} by Diagnosis Category")
plt.xlabel(x_var)
plt.ylabel('Count')

plt.show()

## References

* [Machine Learning Notebooks](https://github.com/ageron/handson-ml2/blob/master/tools_pandas.ipynb)
* [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)
* [Rebecca Barter Blog - From R to Python](https://rebeccabarter.com/blog/2023-09-11-from_r_to_python)